:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(26, 25, 25, 0.87);
  background-color: #f7f6f6;

  --bg-color: #fdfbf7; /* 浅色背景 */
  --text-color: #2c241b; /* 深色字体 */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.9s ease;
}

.dark:root {
  transition: all 0.9s ease;
  --bg-color: #0f172a; /* 深色背景 */
  --text-color: #f0f0f0; /* 深色字体 */
}

/* 应用变量到全局元素 */
body {
  transition: all 0.9s ease;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* 可根据需要调整其他元素（如卡片、按钮）的颜色 */
.card {
  background-color: var(--card-bg, #f9f9f9);
}
.dark .card {
  --card-bg: #333;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0 auto;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  /* max-width: 1280px; */
  margin: 0px auto;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #3a6993;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}